@charset "utf-8";
/* CSS Document */
#self-intro-box {
	margin:15px 0;
}
.section-box p {
	padding:0 4%;
	margin:0;
	line-height:180%;
}
textarea {
	width:85%;
	height:100px;
	margin:0;
}
#portrait-box {
	margin:15px 20px 5px 0;
	width:12%;
	float:left;
}
#portrait {
	width:100%;
	border-radius:5px;
	background:url(portrait/doge.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
#change-portrait {
	margin-top:3px;
	width:100%;
}
.btn-sml {
	padding:5px 10px;
	margin-bottom:5px;
}
.btn-mdm {
	padding:8px 10px;
	margin-bottom:5px;
}
.friend-box {
	padding:10px 0;
	border-bottom:solid silver 1px;
}
.friend-box > table {
	width:100%;
}
.friend-box td:nth-child(1) {
	width:12%;
}
.friend-portrait {
	width:100%;
	background-image:url(portrait/p1357183230.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	border-radius:5px;
}
.friend-box h3,p {
	margin:0 0 5px 15px;
	display:inline;
}
.friend-box button {
	margin:0 0 0 15px;
	float:right;
}
.edit-show {
	display:none;
}
#income-me {
	width:65%;
}
#income-pref {
	width:50%;
}
#age-from, #age-to, #height-from, #height-to {
	width:33%;
}
