@charset "utf-8";
/* CSS Document */
.section-box-content > p {
	margin:0;
	padding:0;
	line-height:180%;
}
#portrait-intro-table {
	margin-bottom:10px;
}
#portrait {
	width:50%;
	margin:0 25%;
	border-radius:5px;
	background-image:none;
}
#change-portrait {
	width:50%;
	margin:3px 25%;
}
#portrait-intro-table textarea {
	height:120px;
}
#portrait-intro-table p {
	margin:0;
}
.btn-sml {
	padding:5px 10px;
	margin-bottom:5px;
}
.btn-mdm {
	padding:8px 10px;
	margin-bottom:5px;
}
.friend-box {
	padding:10px 0;
	border-bottom:solid #ccc 1px;
	display:inline-block;
	width:100%;
}
.friend-box > table {
	width:100%;
}
.friend-box td:nth-child(1) {
	width:20%;
}
.friend-portrait {
	width:100%;
	background-image:url(portrait/p1357183230.jpg);
	border-radius:5px;
}
.friend-box h3 {
	margin:0 0 5px 15px;
}
.friend-box p {
	margin:0 0 15px 15px;
	max-width:200px;
}
.friend-btns {
	margin:0 0 0 15px;
}
.edit-show {
	display:none;
}
#income {
	width:65%;
}
#income_pref {
	width:50%;
}
#age_f, #age_t, #height_f, #height_t {
	width:33%;
}
