@charset "utf-8";
/* CSS Document */
/*blue theme*/
/*shared*/
.btn {background-color:#81ccef;}
.btn:hover {background-color:#4eb7e8;}
.txtbox:focus {
	border:1px solid #4eb7e8;
	box-shadow:0px 0px 5px #81ccef;
}
/*header*/
.header {background-color:#81ccef;}
#topnav > li > a:hover {background-color:#4eb7e8;}
#topnav > img:hover {background-color:#4eb7e8;}
#nav:hover {background-color:#4eb7e8;}
.close-overlay:hover {background-color:#4eb7e8;}

/*sidebar*/
#A {background-color:#e6f5fc;}
#A li a{color:#81ccef;}
#A li a:hover{
	background-color: white;
	color:#4eb7e8;
}

/*calendar*/
.event-box {background-color:#81ccef;}
.event-box:hover {background-color:#4eb7e8;}
th {
	border-bottom:3px solid  #81ccef;
	color:#81ccef;
}
#calendar td:hover {
	background-color:#e6f5fc;
	color:#81ccef;
}
#selected-date {
	background-color:#e6f5fc;
	color:#4eb7e8;
	box-shadow:0px 0px 3px #4eb7e8 inset;
}

/*accountmgt*/
.tag-item {
	background-color:#e6f5fc;
	border:1px solid #81ccef;
	color:#4eb7e8;
}
.section-box {border-top:3px solid #81ccef;}
.colored-txt {color:#81ccef;}
.colored-txt-dark {color:#4eb7e8;}

/*search*/
.search-item {
	background-color:#e6f5fc;
	border:1px solid #81ccef;
	color:#4eb7e8;
}
.search-portrait:hover {
	border:1px solid #4eb7e8;
	background:linear-gradient(white,#e6f5fc);
}
.txtbox-embed {color:#4eb7e8;}
.search-tag {color:#4eb7e8;}

/*index*/
#back2top {background-color:#81ccef;}
#back2top:hover {background-color:#4eb7e8;}