@charset "utf-8";
/* CSS Document */
/*calendar-start*/
#calendar {
	margin-top:45px;
	padding-top:20px;
	width:100%;
	background-color:white;
}
#calendar-head {
	margin:10px 15% 25px;
	width:70%;
	height:35px;
	text-align:center;	
}
#calendar-head > h2{
	display:inline;
	line-height:35px;
	color:#333;   
}
#previous {
	float:left;
	height:35px;
	width:50px;
	font-size:26px;
	border:none;
	border-radius:3px;
    background-color:transparent;
	outline:none;	
}
#next {
	float:right;
	height:35px;
	width:50px;
	font-size:26px;
	border:none;
	border-radius:3px;
	background-color:transparent;
	outline:none;	
}
#previous:hover, #next:hover {
	color:#e5004f;
	border:1px solid #e5004f;
	cursor:pointer;
}
.even-row {	
	background-color:#eee;
}
td {
	padding-top:0.5%;
	padding-left:1%;
	width:13.28%;
	height:18.45%;
	vertical-align:text-top;
}
td:hover { cursor:pointer;}
th {
	padding-left:1%;
	padding-right:1%;
	width:12.2%;
	height:5%;	
	font-weight:normal;
	text-align:left;
}
table {
	width:100%;
	height:500px;
	border-collapse:collapse;
	border-bottom:1px solid #ccc;
}
.event-box {
	padding:2px 0 2px 3%;
	margin-top:3px;
	width:97%;
	font-size:14px;	
	color:white;
}
.event-box:hover {
	cursor:pointer;	
}
/*calendar-end*/