@charset "utf-8";
/* CSS Document */
/*calendar-start*/
#calendar {
	width:100%;
}
#calendar-head {
	padding:25px 15%;
	margin:0;
	width:70%;
	height:35px;
	text-align:center;	
}
#calendar-head > h2{
	display:inline;
	line-height:35px;
	color:#333;   
}
#previous {
	float:left;
	height:35px;
	width:50px;
	font-size:26px;
	border:none;
	border-radius:3px;
    background-color:transparent;
	outline:none;
	color:#333;	
}
#next {
	float:right;
	height:35px;
	width:50px;
	font-size:26px;
	border:none;
	border-radius:3px;
	background-color:transparent;
	outline:none;
	color:#333;		
}
#previous:hover, #next:hover {
	color:#333;
	border:1px solid #333;
	cursor:pointer;
}
.even-row {	
	background-color:#eee;
}
#calendar td {
	padding-top:0.5%;
	padding-left:1%;
	width:13.28%;
	height:18.45%;
	vertical-align:text-top;
}
#calendar td:hover { cursor:pointer;}
#calendar th {
	padding-left:1%;
	padding-right:1%;
	width:12.2%;
	height:5%;	
	font-weight:normal;
	text-align:left;
}
#calendar table {
	width:100%;
	height:580px;
	margin:0;
	padding:0;
	border-collapse:collapse;
}
.event-box {
	padding:2px 0 2px 3%;
	margin-top:3px;
	width:97%;
	font-size:14px;	
	color:white;
}
.event-box:hover {
	cursor:pointer;	
}
#event-detail-box table {
	width:100%;
	line-height:180%;
	border-collapse:collapse;
}
#event-detail-box p {
	line-height:180%;
}
.item-name {width:40%;}
.item-content {width:60%;}
/*calendar-end*/