@charset "utf-8";
/* CSS Document */
/*sign-box-start*/
#sign-box {
	width:90%;
	padding:18px 5% 0;
	line-height:150%;
}
#tabs {	margin-bottom:10px;}
#signup, 
#signin,
#forget-send,
#forget-back,
#forget-link { margin-top:15px;}
#forget-send { width:48%;}
#forget-back {
	width:48%;
	float:right;
}
#signin-form,
#forget-form { display:none;}
/*sign-box-end*/

#banner {
	width:100%;
	height:160px;
	background-image:url(img/banner.jpg);
}





