@charset "utf-8";
/* CSS Document */
h1 {
	margin:0 0 10px;
	font-weight:normal;
	font-size:24px;
	padding:20px 0 10px 4%;;
}
.mail-list{
	width:92%;
	padding:0 4%;
	border-top:1px solid #eee;
}
.mail-list ul {
	margin:0;
	padding:0;
}
.mail-list li{
	position:relative;
	overflow:hidden;
	zoom:1;
	padding:10px 0;
	border-bottom:1px solid #eee
}
.mail-list .title{
	overflow:hidden;
	zoom:1;
	word-wrap:break-word;
	cursor:pointer;
}
.mail-list h3{
	margin:0 0 10px 15px;
	font-size:22px;
}
.msg-time {
	float:right;
	margin:0 0 10px;
	color:#666;
}
.msg-content {
	margin:0 0 0 15px;
	width:100%;
	line-height:150%;
	color:#666;
}
td {vertical-align:top;}
#msg-new {
	margin:20px 0 30px 4%;
}
#msg-send-new {
	margin:15px 0 30px 0;
}


