@charset "utf-8";
/* CSS Document */
/*header-start*/
#add {
	padding-right:5px;
}
/*header-end*/

/*messages-start*/
#messages {
	margin-top:52px;
	width:100%;
	background-color:white;
}
.message-box {
	width:100%;
	border-bottom:1px solid #999;
	line-height:100%;
	padding:8px;	
}
#message-from {
	font-size:18px;
	margin-top:20px;
}
.message-time {
	float:right;
	margin-right:20px;
	margin-top:20px;
	color:#666;	
	font-size:15px;	
}
.message-content {
	clear:right;
	margin-right:10px;
	font-size:16px;
	color:#666;		
}
td > img {
	float:left;
	margin:8px 15px 0 5px;
	width:70px;
	height:70px;
	border-radius:40px;	
}
/*messages-end*/



8