@charset "utf-8";
/* CSS Document */
h1 {
	margin:5px 0 13px;
	font-weight:normal;
	font-size:24px;
	color:#e5004f;
	padding:20px 4% 10px;;
}

.mail-list{
	border-top:1px solid #eee
}

.mail-list li{
	position:relative;
	overflow:hidden;
	zoom:1;
	padding:15px 10px 14px;
	border-bottom:1px solid #eee
}

.pic{
	float:left;
	margin:0 10px 0 0
}

.mail-list .pic img{
	width:80px;height:80px
}

.mail-list .title{
	overflow:hidden;
	zoom:1;
	word-wrap:break-word;
	line-height:2;
	cursor:pointer
}

.mail-list .title .sender{
	margin:-2px 20px 2px 5px;
	color:#e5004f
}

.mail-list .title .sender .time{
	float:right;
	color:#e5004f
}

.mail-list .title p{
	margin:0 0 0 8px;
	width:80%;
	line-height:1.5
}

.mail-list .title p a:visited{
	color:#666
}

.mail-list .title p a:hover{
	color:#fff;
	background-color: #666
}

.mail-list .select{
	position:absolute;
	right:28px;
	bottom: 25px;
	padding-top:30px
}

.mail-list-ft{
	padding:12px 10px 20px;
	margin-bottom:10px;
	text-align:right
}



