@charset "utf-8";
/* CSS Document */
/*messages-start*/
.message-box {
	width:100%;
	border-bottom:1px solid #ccc;
	line-height:120%;
	padding:10px 0;	
}
#message-from {
	font-size:18px;
	margin:0 0 5px 0;
}
.message-time {
	margin:0 0 10px 0;
	color:#666;	
	font-size:15px;	
}
.message-content {
	clear:right;
	margin:0 5px 5px 0;
	font-size:16px;
	color:#666;		
}
td > img {
	width:80%;
	margin:0 10%;
	border-radius:5px;	
}
/*messages-end*/

textarea {    
	margin:20px 0 20px;
	overflow:auto;
}
.btn {
	padding:10px;
	display:block;
	margin-bottom:20px;
}

#mail-btn2 {
	float:right;
}
#new-msg-details {
	width:92%;
	margin:0 4%;
}