@charset "utf-8";
/* CSS Document */
/*purple theme*/
/*shared*/
.btn {background-color:#c06;}
.btn:hover {background-color:#606;}
.txtbox {
	border:1px solid #aaa;
	border-bottom:3px solid #f9c;
}
.txtbox:focus {
	border:1px solid #606;
	border-bottom:3px solid #606;
	box-shadow:0px 0px 3px #606;
}
.txtbox:hover {
	border:1px solid #606;
	border-bottom:3px solid #606;	
}

/*header*/
.header {background-color:#c06;}
#topnav > li > a:hover {background-color:#606;}

/*calendar*/
.event-box {background-color:#c06;}
.event-box:hover {background-color:#606;}
th {
	border-bottom:3px solid  #c06;
	color:#c06;
}
#calendar td:hover {
	background-color:#c9c;
	color:#606;
}

/*accountmgt*/
.tag-item {
	background-color:#c3a3cb;
	border:1px solid #c06;
	color:#c06;
}
.section-box {border-top:3px solid #c06;}
.colored-txt {color:#c06;}

/*search*/
.search-item {
	background-color:#c3a3cb;
	border:1px solid #c06;
	color:#606;
}
.search-item:hover {
	border:1px solid #606;
	background-color:#606;
	color:white;
}

/*index*/
#tab-signup {color:#c06;}
#tab-signin:hover,
#tab-signup:hover {color:#606;}
#back2top {background-color:#c06;}
#back2top:hover {background-color:#606;}