@charset "utf-8";
/* CSS Document */
.header > img {
	float:left;
	margin-right:10px;
}
.header > h1 {
	margin:8px 0 0 0;
	padding:0;
	color:white;
	font-size:22px;
	font-weight:normal;
}
#income {
	width:65%;
}
#income_pref {
	width:50%;
}
#age_f, #age_t, #height_f, #height_t {
	width:33%;
}
#self_intro {
	height:100px;
}
#submit-now {
	width:40%;
	margin:20px 30%;
	padding:10px 0;
}