@charset "utf-8";
/* CSS Document */
.header > h1 {
	margin-left:10px;
}
#income {
	width:65%;
}
#income_pref {
	width:50%;
}
#age_f, #age_t, #height_f, #height_t {
	width:33%;
}
#self_intro {
	height:100px;
}
#submit-now {
	width:90%;
	margin:20px 5%;
	padding:10px 0;
}