@charset "utf-8";
/* CSS Document */
/*search-start*/
table {
	padding-top:20px;
	padding-bottom:20px;
	width:100%;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	line-height:100%;				
}

.singleIn{
        display: inline-block;
        position: relative;
        line-height: 1;
        width: 174px;
        padding: 15px 10px;
        border: 3px solid #aaa;
        background: #ffffff;
        color: #eb6877;
        font-size: 15px;
        font-weight: 700;
        text-align: left;
        outline: 0;
        outline-offset: -2px; /* Opera */
        cursor: default;
}

.doubleIn{
        display: inline-block;
        position: relative;
        line-height: 1;
        width: 61px;
        padding: 15px 10px;
        border: 3px solid #aaa;
        background: #ffffff;
        color: #eb6877;
        font-size: 15px;
        font-weight: 700;
        text-align: left;
        outline: 0;
        outline-offset: -2px; /* Opera */
        cursor: default;
}

.item-name{
	margin-left:20px;
	color:#333;				
}

#search-now {
	width:90%;
	margin:20px 5%;	
	background-image:url(img/search.png);
	background-repeat:no-repeat;
	background-position:center;
}


#tabs {
	margin-left:20px;
	margin-top:60px;
	margin-bottom:-30px;
	height:10px;
}

h2 {
	margin:60px 0 20px 20px;
	font-weight:normal;
	font-size:16px;
}

.search-portrait {
	padding:10px 0;
	margin-left:1%;
	margin-right:1%;
	margin-bottom:15px;
	width:45%;
	height:170px;
	display:inline-block;
	text-align:center;
	border:1px solid #ccc;	
	border-radius:3px;
	box-shadow:0px 0px 3px #eee;
}

.search-portrait:hover {
	cursor:pointer;
}
.search-portrait > a {
	margin:5px;
	display:block;
}
.search-portrait > div{
	width:90%;
	margin-left:5%;
}

.btn-mobile {
	padding:10px;
	display:block;
	margin-bottom:20px;
}

#return-btn {
	margin:auto;
	width:70%;
}