@charset "utf-8";
/* CSS Document */
h2 {
	margin:5px 0 13px;
	font-weight:normal;
	font-size:16px;
}
/*search-conditions-start*/
#tabs {
	position:relative;
	left:-5px;
    padding:5px 0 10px;
}
select {
	background-color:transparent;
	color:#e5004f;
	border:1px solid transparent;
	font:14px Verdana, Geneva, sans-serif;
}
select:hover,select:focus {
	background-color:white;
	color:black;
	border:1px solid silver;
}
.txtbox-embed {
	font:14px Verdana, Geneva, sans-serif;
	color:#e5004f;
	max-width:100px;
	text-align:center;
	border:1px solid transparent;
}
.txtbox-embed:hover, .txtbox-embed:focus {
	color:black;
	background-color:white;
	border:1px solid silver;
}
#age-from, #age-to, #height-from, #height-to {
	width:45px;
}
#search-condition {
	padding:15px 4% 10px;;	
}
#more-condition-box {
	display:none;
	background-color:#eee;
	padding:10px 4% 10px;
	width:92%;
}
#more-condition {
	margin:10px 0 0;
}
#by-name-form {
	display:none;
}
#by-name-form > .txtbox {
	margin:8px 0;
	padding:0 1%;
	width:80%;
	height:38px;
}
#search-1 {
	width:14%;
	margin:8px 3% 8px 0;
	height:40px;
	background-image:url(img/search.png);
	background-repeat:no-repeat;
	background-position:center;
	float:right;
}
#search-2{
	float:right;
	margin:3px 2%;
	width:55px;
	height:55px;
	border-radius:30px;
	background-image:url(img/search.png);
	background-repeat:no-repeat;
	background-position:center;
}
.search-item {
	padding:5px 8px;
	margin:3px 3px 3px 0;
	display:inline-block;
	font-size:14px;
}
.item-delete {
	font-size:10px;
}
.item-add {
	font-size:10px;
}
#more-condition-box .item-delete {
	display:none;
}
#search-condition .item-add {
	display:none;
}
/*search-conditions-end*/
/*search-result-start*/
#search-result  {
	padding:10px 4% 10px;
	width:92%;
}
#search-result > p {
	margin-top:0;
}
.portrait {
	padding:10px 0;
	margin-right:0.5%;
	margin-bottom:15px;
	width:18.5%;
	display:inline-block;
	text-align:center;
	border:1px solid #ccc;	
	border-radius:3px;
	box-shadow:0px 0px 3px #eee;
}
.portrait:hover {
	border:1px solid #e5004f;
	cursor:pointer;
	background:linear-gradient(white,#fdd);
}
.portrait > a {
	margin:5px;
	display:block;
}
.portrait > div{
	width:90%;
}
/*search-result-end*/