@charset "utf-8";
/* CSS Document */
body {
	margin:0;
	font-family:Verdana, Geneva, sans-serif;
	/*background:linear-gradient(#eeeeee,#dcdcdc);*/
	background-color:#eee;
	min-width:799px;
}
a {text-decoration:none;}
/*header-start*/
.header {
	position:fixed;
	z-index:990;
	left:0;
	top:0;
	width:100%;
    min-width:775px;
	height:45px;
	box-shadow:0 -1px 5px #666;
}
#topnav {
	float:right;
	margin:0;
	padding:0;
	display:inline;
	list-style-type:none;
}
#topnav > li {
	float:right;
}
#topnav > li > a {
	width:90px;
	height:33px;
	padding-top:12px;
	display:block;
	text-align:center;
	font-size:16px;
	color:white;
	cursor:pointer;	
	transition:background-color 0.5s ease-out;
}
/*header-end*/

.container {
	margin:45px auto 0;
	width:975px;
	background-color:white;
	box-shadow:0 0 3px #666;
}
@media screen and (max-width:1000px) {
    .container {width:100%;}
}
.footer {
	padding-bottom:20px;
	padding-top:20px;
	width:100%;
	text-align:center;
}

/*shared-components-start*/
.btn {
	border:none;
	border-radius:3px;
	color:white;
	font:16px Verdana, Geneva, sans-serif;
	transition:background-color 0.5s ease-out;
}
.btn-fill {
	width:100%;
	padding:10px 0;
	margin:10px 0;
}
.btn-lg {
	padding:10px;
	margin:10px 0;
}
.btn:hover {
	cursor:pointer;
}
.txtbox {
	border-radius:3px;
	border:1px solid #ccc;
	font:16px Verdana, Geneva, sans-serif;
	box-shadow:0px 0px 2px #eee inset;
	transition:border 0.5s ease-out;
	outline:none;
}
.txtbox-fill {
	margin:8px 0;
	padding:10px 2%;
	width:96%;
}
.txtbox-embed {
	border:none;
	background:transparent;
}
.link-btn {
	border:none;
	background-color:transparent;
	font:16px Verdana, Geneva, sans-serif;
	outline:none;	
}
.link-btn:hover {
	text-decoration:underline;
	cursor:pointer;	
}
.no-line:hover {
	text-decoration:none;
}
.overlay-container {
	position:fixed;
	z-index:999;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display:none;	
}
.overlay {
	margin-left:auto;
	margin-right:auto;
	width:75%;
	height:auto;
	max-width:610px;
	max-height:80%;
	background-color:white;
	box-shadow:0 0 5px #666;
	padding:3% 3% 2%;
	display:none;
}
.overlay > h2 {
	margin-top:5px;
}
.close-overlay {
	float:right;
}
.mask {
	width:100%;
	height:100%;
	background-color:black;
	position:fixed;
	left:0;
	top:0;
	opacity:0.5;
}
.background-cover-center {
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}
/*shared-components-end*/

/*account-management, register-start*/
.section-box {
	width:100%;
}
.section-box-content {
	width:92%;
	padding:10px 4%;
}
.item-name {width:20%;}
.item-content {width:30%;}
.tag-item {
	padding:0 8px;
	margin:0 3px 1px 0;
	display:inline-block;
	font-size:14px;
}
.section-box-content > table {
	padding:5px 0;
	width:100%;
	line-height:200%;
}
.section-box-content > table .txtbox {
	padding:4px 3%;
	margin:3px 0 1%;
	width:85%;
}
.section-box-content > table td {
	vertical-align:top;
}
.subheading {
	padding:15px 4% 2px;
	margin:0;
	display:inline-block;
}
.selecttags {width:230px;}
/*account-management, register-end*/