@charset "utf-8";
/* CSS Document */
body {
	font-family:Verdana, Geneva, sans-serif;
	margin:0;
}
a { text-decoration:none;}
.header {
	position:fixed;
	z-index:990;
	left:0;
	top:0;
	width:100%;
	height:52px;
	box-shadow:0 -1px 5px #666;
}
.header > h1 {
	margin-top:11px;
	color:white;
	font-size:24px;
	font-weight:normal;
}
#topnav {
	float:right;	
}
#topnav > img {
	padding:0 5px;
}
#topnav > img:hover {cursor:pointer;}
#nav {float:left;}
#nav:hover {cursor:pointer;}
.container {
	margin-top:52px;
	width:100%;
}
#footer {
	clear:both;
	font-size:15px;
	text-align:center;
}
/*shared-components-start*/
.btn {
	border:none;
	border-radius:3px;
	background-color:#eb6877;
	color:white;
	font:16px Verdana, Geneva, sans-serif;	
}
.btn:hover {
	cursor:pointer;
}
.btn-fill {
	margin:10px 0;
	padding:10px 0;
	width:100%;
}
.txtbox {
	border:1px solid #ccc;
	border-radius:3px;
	font:16px Verdana, Geneva, sans-serif;
	box-shadow:0px 0px 2px #eee inset;
	outline:none;
}
.txtbox-fill {
	margin:5px 0;
	padding:10px 2%;
	width:96%;
}
.sidebar {
	position:fixed;
	z-index:990;
	width:35%;
	background-color:white;	
	box-shadow:0 0 3px #666;
	display:none;
}
.sidebar > a {
	margin:0;
	padding:10px 10%;
	font-size:18px;
	display:block;
}
.sidebar > a:hover {
	color:#e5004f;
	background-color:#fdd;
	cursor:pointer;
	text-decoration:none;
}
.link-btn {
	border:none;
	background-color:transparent;
	font:16px Verdana, Geneva, sans-serif;
	outline:none;	
}
.link-btn:hover {
	text-decoration:underline;
	cursor:pointer;	
}
.no-line:hover {
	text-decoration:none;
}
.background-cover-center {
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}
.overlay {
	position:fixed;
	left:0;
	top:0;
	z-index:999;
	width:100%;
	height:100%;
	background-color:white;
	display:none;
}
.overlay-content {
	width:90%;
	margin-top:75px;
	padding:0 5% 0;
	line-height:150%;
}
.close-overlay {
	float:left;	
}
.close-overlay:hover {
	background-color:#e5004f;
	cursor:pointer;
}
/*shared-components-end*/

/*account-management, register*/
.section-box {
	width:100%;
}
.section-box-content {
	width:92%;
	padding:10px 4%;
}
.item-name {width:40%;}
.item-content {width:60%;}
.tag-item {
	padding:0 8px;
	margin:0 3px 1px 0;
	display:inline-block;
	font-size:14px;
}
.section-box-content > table {
	padding:5px 0;
	width:100%;
	line-height:200%;
}
.section-box-content > table .txtbox {
	padding:4px 3%;
	margin:3px 0 1%;
	width:90%;
}
.subheading {
	padding:15px 4% 2px;
	margin:0;
	display:inline-block;
}
.selecttags {width:230px;}