html, body {
    margin: 0;
    padding: 0;
    border: 0;
}
div{background:white;}
#A {
	position:fixed;
    top: 52px;
    width: 150px;
    bottom:0px;
    background:pink;
}
#C{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
#B {
	position:absolute;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0px;
	background:white;
	min-width: 400px;
}
ul{
	list-style-type: none;
	padding:0;
}
li + li {
    margin-top: 12px; 
}
li a{
	 padding: 4px 10px;
    display: block;
    color: #eb6877;
}
li a:hover {
      background-color: white; 
}